<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "ca.gc.hcsc.mobile.template"
versionCode="1"
version   = "0.0.0">
<name>Canada Mobile Experience Template (MET)</name>
<description>
Canada Mobile Experience Template (MET) - Bootstrap v3.3.5, jQuery v2.1.4
</description>
<author href="http://www.hc-sc.gc.ca" email="mobile@hc-sc.gc.ca">
HC-SC-Mobile
</author>

<preference name="permissions" value="none" />
<preference name="phonegap-version" value="cli-5.2.0" />
<preference name="orientation" value="default" />
<preference name="fullscreen" value="false" />
<preference name="target-device" value="universal" />
<preference name="webviewbounce" value="true" />
<preference name="prerendered-icon" value="true" />
<preference name="stay-in-webview" value="false" />
<preference name="detect-data-types" value="false" />
<preference name="exit-on-suspend" value="false" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="EnableViewportScale" value="true" />
<preference name="BackupWebStorage" value="cloud" />
<preference name="KeyboardDisplayRequiresUserAction" value="true" />
<preference name="HideKeyboardFormAccessoryBar" value="false" />
<preference name="SuppressesIncrementalRendering" value="false" />
<preference name="android-minSdkVersion" value="8" />
<preference name="android-targetSdkVersion" value="19" />
<preference name="android-installLocation" value="auto" />
<preference name="SplashScreenDelay" value="3000" />
<preference name="KeepRunning" value="true"/>
<preference name="DisallowOverscroll" value="true"/>
<preference name="LoadUrlTimeoutValue" value="20000" />
<preference name="disable-cursor" value="true" />

<platform name="ios">
  <icon src="res/icon/ios/Icon-60.png" width="60" height="60" />
  <icon src="res/icon/ios/Icon-60@2x.png" width="120" height="120" />
  <icon src="res/icon/ios/Icon-60@3x.png" width="180" height="180" />
  <icon src="res/icon/ios/Icon-72.png" width="72" height="72" />
  <icon src="res/icon/ios/Icon-72@2x.png" width="144" height="144" />
  <icon src="res/icon/ios/Icon-76.png" width="76" height="76" />
  <icon src="res/icon/ios/Icon-76@2x.png" width="152" height="152" />
  <icon src="res/icon/ios/Icon-Small-40.png" width="40" height="40" />
  <icon src="res/icon/ios/Icon-Small-40@2x.png" width="80" height="80" />
  <icon src="res/icon/ios/Icon-Small-40@3x.png" width="120" height="120" />
  <icon src="res/icon/ios/Icon-Small-50.png" width="50" height="50" />
  <icon src="res/icon/ios/Icon-Small-50@2x.png" width="100" height="100" />
  <icon src="res/icon/ios/Icon-Small.png" width="29" height="29" />
  <icon src="res/icon/ios/Icon-Small@2x.png" width="58" height="58" />
  <icon src="res/icon/ios/Icon-Small@3x.png" width="87" height="87" />
  <icon src="res/icon/ios/Icon.png" width="57" height="57" />
  <icon src="res/icon/ios/Icon@2x.png" width="114" height="114" />
  <!-- iPhone and iPod touch -->
  <splash src="res/screen/ios/Default.png" width="320" height="480" />
  <splash src="res/screen/ios/Default@2x.png" width="640" height="960" />
  <!-- iPhone 5 / iPod Touch (5th Generation) -->
  <splash src="res/screen/ios/Default-568h@2x.png" width="640" height="1136" />
  <!-- iPhone 6 -->
  <splash src="res/screen/ios/Default-667h@2x.png" width="750" height="1334" />
  <splash src="res/screen/ios/Default-Portrait-736h@3x.png" width="1242" height="2208" />
  <splash src="res/screen/ios/Default-Landscape-736h@3x.png" width="2208" height="1242" />
  <!-- iPad -->
  <splash src="res/screen/ios/Default-Portrait.png" width="768" height="1024" />
  <splash src="res/screen/ios/Default-Landscape.png" width="1024" height="768" />
  <!-- Retina iPad -->
  <splash src="res/screen/ios/Default-Portrait@2x.png" width="1536" height="2048" />
  <splash src="res/screen/ios/Default-Landscape@2x.png" width="2048" height="1536" />
</platform>

<platform name="android">
  <icon src="res/icon/android/36.png" gap:qualifier="ldpi" />
  <icon src="res/icon/android/48.png" gap:qualifier="mdpi" />
  <icon src="res/icon/android/72.png" gap:qualifier="hdpi" />
  <icon src="res/icon/android/96.png" gap:qualifier="xhdpi" />
  <icon src="res/icon/android/144.png" gap:qualifier="xxhdpi" />
  <icon src="res/icon/android/192.png" gap:qualifier="xxxhdpi" />
  <splash src="res/screen/android/drawable-ldpi/splash.9.png" gap:qualifier="ldpi" />
  <splash src="res/screen/android/drawable-mdpi/splash.9.png" gap:qualifier="mdpi" />
  <splash src="res/screen/android/drawable-hdpi/splash.9.png" gap:qualifier="hdpi" />
  <splash src="res/screen/android/drawable-xhdpi/splash.9.png" gap:qualifier="xhdpi" />
  <splash src="res/screen/android/drawable-xxhdpi/splash.9.png" gap:qualifier="xxhdpi" />
  <splash src="res/screen/android/drawable-xxxhdpi/splash.9.png" gap:qualifier="xxxhdpi" />
</platform>

<platform name="winphone">
  <icon src="res/icon/windows-phone/icon-62-tile.png" />
  <icon src="res/icon/windows-phone/icon-173-tile.png" gap:role="background" />
  <splash src="res/screen/windows-phone/screen-portrait.jpg" />
</platform>

<platform name="blackberry">
  <icon src="res/icon/blackberry/icon-80.png" />
  <splash src="res/screen/blackberry/splash-360x480.png" />
</platform>

<icon src="icon.png" />
<splash src="splash.png" />

<access origin="*" />

<plugin name="com.adobe.plugins.gaplugin" source="pgb" spec="2.4.0" />
<plugin name="cordova-plugin-device" spec="1.0.1" />
<plugin name="cordova-plugin-inappbrowser" spec="1.0.1" />
<plugin name="cordova-plugin-splashscreen" spec="2.1.0" />
<plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" source="pgb" spec="1.2.0" />

<gap:config-file platform="winphone" parent="/Deployment" mode="replace">
  <Languages xmlns="">
    <Language code="en-CA"/>
    <Language code="en-US"/>
    <Language code="fr-CA"/>
    <Language code="fr-FR"/>
  </Languages>
<DefaultLanguage xmlns="" code="en-CA" />
</gap:config-file>
</widget>